.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 78px;
}

.header ul {
    display: flex;   
    text-decoration: underline;
}

.header li {
    padding: 16px;
    list-style: none;
    opacity: 0.7;
    font-size: 18px;
    font-weight: 100000;
}

.header li a {
    text-decoration: none;
    color: black;    
}
#hed1    {
            text-align: center;
            padding: 10px;
            background-color: rgba(45,  45 , 45, 0.1);
            font-size: 30px;
         }
.header p1 {
    padding: 160px;
}
.header p2 {
    padding: 160px;
}
.header p3 {
    padding: 160px;
}
.body h1 
{
    color: red;
    text-decoration: underline;
}
.footer ul li {display: flex;}