.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5px;
    margin: auto;
    background-color:pink;
}

.header img {
    width: 78px;
    }

.header ul {
    display: flex;   
    text-decoration: underline;
}

.header li {
    padding: 16px;
    list-style: none;
    opacity: 0.7;
    font-size: 18px;
    
    
}
.header:hover{color: royalblue;}
.header li a {
    text-decoration: none;
    color: black;    
}
#hed1    {
            text-align: center;
            padding: 10px;
            background-color: rgba(45,  45 , 45, 0.1);
            font-size: 30px;
         }
.div 
{
        line-height: 25px;
}

.body h1 
{
    color: red;
    text-decoration: underline;
}
.footer ul li {display: inline;}
.body {background-color: silver;}